@charset "UTF-8";

@media (max-width: 1199px){
    .row{width:100%;}
    #header{height:100vh;}
    #header .menu_btn{display: inline-block; }
    #nav{width:100%; display: none; height:100vh; z-index: 13; right:auto; left:0; top:0;}
    #nav .depth1 {background: #fff; height:100%; padding:30px;}
    #nav .depth1 li{display: block; float:none; width:100%; text-align: center; padding:10px 0;}

    .lines .row .line-col{width:33%}
    .lines .row .line-col:nth-child(4){display: none;}
    .lines .row .line-col:nth-child(5){display: none;}

    .home .intro i{top:0%; bottom:auto;}
    #footer{display: none;}

}

@media(min-width: 1200px){
    .row{max-width:100%;}
    #header .menu_close{display: none;}
}