@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{border:none; margin:0; padding:0; box-sizing: border-box; font-family: 'Roboto','Noto Sans KR', sans-serif; background: transparent;}
body{ color:#111; }
p{font-size: 16px; line-height: 1.5; color:#666}
h2{font-size: 24px; font-weight: 900;}

#wrap{position: relative; background: #f4f4f4;}
#header{position: fixed; top:0; width:100%; z-index: 99;}
#header #hd{position: relative; padding:0 10px; margin-top:50px}
#header h1{display:inline-block; padding-left:40px;}
#header h1 a{font-size: 20px; font-weight: bolder;}
#header h1 span{color:#0071e3; transition: ease-in 0.3s;}
#header h1 span:hover{color:#666}
#nav{position: absolute; top:0; right:2%;}
#nav .depth1 li{float:left; font-size: 16px; font-weight: bold; padding:0 30px;transition: ease-in 0.3s;}
#nav .depth1 li:hover{color:#0071e3}

.container{position: relative; background: #fff;}
article{padding-bottom:70px}
.row{margin:0 auto; width:900px;}
.title{padding-bottom:30px}
.home{position: relative;height:100vh; z-index: 12;}
.home h1{position: absolute; top:45%; transform: translate(-50%,-50%); left:50%; font-size: 80px; font-weight: bolder; display: inline-block; }
.home h1::after{text-shadow: -1px 0 #0071e3; content: 'Resume'; position: absolute; top:0; left:2px; animation: glitch-2 2s infinite linear alternate-reverse; clip: rect(0,0,0,0);  background: #f4f4f4; }
.home h1::before{text-shadow: -1px 0 #0071e3; content: 'Resume'; position: absolute; top:0; left:-2px; animation: glitch-2 2s infinite linear alternate-reverse; clip: rect(0,0,0,0); background: #f4f4f4; }
.home .intro{position: absolute; bottom:3%;  transform: translate(-50%,-50%); left:50%; font-weight: bold;}
.home .intro p{display: inline-block; padding-left:30px}
.home .intro i{position:absolute; font-size: 30px; animation: arrow 0.6s infinite 0s alternate; left:110%; bottom:110%; color: #0071e3;}
.home .intro span{color:#111}

#about{padding-top:70px;}
#about .row{border:1px solid #e0e0e0; background: #fff;position: relative; overflow: hidden; z-index: 12; padding:35px;}
#about .photo{float: left; width:20%}
#about .text{float: right; width:80%;}
#about .text ul{overflow: hidden; padding:15px 0 30px;}
#about .text ul li{width:50%; float:left; padding:5px 0;}
#about .text ul li strong{font-weight: bold; color:#0071e3; padding-right:15px;}
#about .text > a {display: inline-block; padding: 10px 30px; border: 2px solid #0071e3; color: #0071e3; font-weight: 600; transition: 0.4s ease-out;}
#about .text > a:hover{background: #0071e3; color:#fff}

#skill{position: relative;}
#skill .row{background:#fff; position: relative; border:1px solid #e0e0e0; z-index: 12; padding:35px;}
#skill .row > div{padding:15px 0; font-weight: bold; }
#skill .row > div > p{ color:#111}
#skill .score{width:100%; height:14px; background: #e0e0e0; border-radius: 10px;}
#skill .score span{position: absolute; left:100%; bottom:200%;}
#skill .score .myscore{height:30%; margin-left:5px ; position: relative; border-radius: 10px; transform: translate(0, 130%);}
#skill .html .myscore{background: #0071e3; animation: html 1.4s ease-in-out 1.5s both ; width:0%}
#skill .JavaScript .myscore{background: #0071e3; animation: java 1s ease-in-out 1.5s both; width:0%;}
#skill .Jquery .myscore{background: #0071e3; animation: jquery 1.2s ease-in-out 1.5s both; width:0%;}
#skill .React .myscore{background: #0071e3; animation: react 1s ease-in-out 1.5s both; width:0%;}

#works{position: relative;}
#works .row{position: relative; overflow: hidden; z-index: 12; }
#works .tabmenu{border:1px solid #e0e0e0; background: #fff; width:100%;  padding:35px; margin-bottom:40px;}
#works .tabmenu li{display: inline-block; padding-right:10px; font-weight: 700;}
#works .tabmenu li.active{color:#0071e3}
#works .contents ul{overflow: hidden;}
#works .contents li{float:left; width:45%; padding-bottom:5%; text-align: center; position: relative;}

#works .contents li:nth-child(2n){margin-left:10%;}
#works .contents li img{width:100%; transition: 0.4s ease-out;}
#works .contents li h2{padding:20px 0 5px; transition: 0.4s ease-out;}
#works .contents li a{position: relative; display: block; overflow: hidden; transition: 0.4s ease-out;}
#works .contents li a::after{background: #0071e3; top:0; left:0; right:0; bottom:0; content: ''; display: block; position: absolute; opacity: 0; transition: 0.4s ease-out;}
#works .contents li a i{position: absolute; top:50%; left:50%; opacity: 0; color:#fff; font-size:18px; transform:translate(-50%, -50%); transition: 0.4s ease-out;}
#works .contents li a:hover::after{opacity: 0.8;}
#works .contents li a:hover i{opacity: 1; z-index: 99;}
#works .contents li a:hover img{transform: scale(1.2);}
#works .contents li:hover h2 {color:#0071e3}
#works .contents li:hover p {color:#0071e3}

.lines{position: fixed; width:100%; height:100vh; top:0; z-index: 11; pointer-events: none;}
.lines .row{margin:0 auto; width:1500px; height:100%;  padding-right:1px;}
.lines .row .line-col{width:20%; height:100%; position: relative; float:left}
.lines .row .line-col::after{content:''; background:#eee; left:0; top:0; position: absolute; width:100%; animation: gotop 0.3s both 0.2s ease-in;}
.lines .row .line-col:before{content:''; background:#e0e0e0; width:1px; left:0; top:0; position: absolute; animation: gobottom 0.3s both 2.2s ease-in; height:100%}
.lines .row .line-col:first-child::before{background: 0;}
.lines .row .line-col:nth-child(1)::after{animation-delay: 1.2s; width:1000%; right:0; left:auto;}
.lines .row .line-col:nth-child(2)::after{animation-delay: 0.7s; top:auto; bottom:0}
.lines .row .line-col:nth-child(4)::after{animation-delay: 0.9s; top:auto; bottom:0}
.lines .row .line-col:nth-child(5)::after{animation-delay: 1.2s; width:1000%; right:auto; left:0;}
.lines .row .line-col:nth-child(2)::before{animation-delay:2.6s}
.lines .row .line-col:nth-child(4)::before{animation-delay:2.0s}
.lines .row .line-col:nth-child(5)::before{animation-delay:2.4s}
.ready{z-index: 9999;}

#footer .num{position: fixed; bottom: 4%; left:3%; }
#footer p{font-weight: 500; line-height: 1.5; font-size: 14px;}
#footer .sns{position: fixed; bottom: 4%; right:3%; text-align: center;}
#footer .sns i{font-size: 20px; display: block; padding:20px 0;}

@keyframes gotop{
    0%{height:100%}
    100%{height:0%}
}
@keyframes gobottom{
    0%{transform: translate(0 ,-100%);}
    100%{transform: translate(0 ,0);}
}

@keyframes arrow{
    0%{transform: translate(0 ,-50%);}
    100%{transform: translate(0 ,0);}
}


@keyframes html{
    0% {width: 0%; opacity:0}
    100% {width: 90%; opacity: 1;}
}
@keyframes java{
    0% {width: 0%; opacity:0}
    100% {width: 70%; opacity: 1;}
}
@keyframes jquery{
    0% {width: 0%; opacity:0}
    100% {width: 80%; opacity: 1;}
}
@keyframes react{
    0% {width: 0%; opacity:0}
    100% {width: 70%; opacity: 1;}
}


@keyframes glitch-1 {
	0% {
		clip: rect(20px, 920px, 51px, 0);
	}

	5% {
		clip: rect(83px, 920px, 102px, 0);
	}

	10% {
		clip: rect(83px, 920px, 105px, 0);
	}

	15% {
		clip: rect(95px, 920px, 11px, 0);
	}

	20% {
		clip: rect(105px, 920px, 56px, 0);
	}

	25% {
		clip: rect(40px, 920px, 19px, 0);
	}

	30% {
		clip: rect(56px, 920px, 97px, 0);
	}

	35% {
		clip: rect(9px, 920px, 17px, 0);
	}

	40% {
		clip: rect(103px, 920px, 53px, 0);
	}

	45% {
		clip: rect(92px, 920px, 6px, 0);
	}

	50% {
		clip: rect(69px, 920px, 46px, 0);
	}

	55% {
		clip: rect(8px, 920px, 87px, 0);
	}

	60% {
		clip: rect(12px, 920px, 15px, 0);
	}

	70% {
		clip: rect(28px, 920px, 106px, 0);
	}

	80% {
		clip: rect(98px, 920px, 63px, 0);
	}

	85% {
		clip: rect(11px, 920px, 44px, 0);
	}

	95% {
		clip: rect(23px, 920px, 84px, 0);
	}

	100% {
		clip: rect(66px, 920px, 91px, 0);
	}

}

@keyframes glitch-2 {
	0% {
		clip: rect(86px, 920px, 25px, 0);
	}

	5% {
		clip: rect(30px, 920px, 17px, 0);
	}

	10% {
		clip: rect(54px, 920px, 43px, 0);
	}

	15% {
		clip: rect(10px, 920px, 86px, 0);
	}

	25% {
		clip: rect(62px, 920px, 1px, 0);
	}

	30% {
		clip: rect(61px, 920px, 24px, 0);
	}

	35% {
		clip: rect(38px, 920px, 46px, 0);
	}

	40% {
		clip: rect(115px, 920px, 8px, 0);
	}

	45% {
		clip: rect(87px, 920px, 44px, 0);
	}

	50% {
		clip: rect(6px, 920px, 65px, 0);
	}

	55% {
		clip: rect(83px, 920px, 99px, 0);
	}

	65% {
		clip: rect(25px, 920px, 71px, 0);
	}

	70% {
		clip: rect(37px, 920px, 55px, 0);
	}

	75% {
		clip: rect(115px, 920px, 18px, 0);
	}

	80% {
		clip: rect(68px, 920px, 46px, 0);
	}

	90% {
		clip: rect(47px, 920px, 31px, 0);
	}

	95% {
		clip: rect(47px, 920px, 84px, 0);
	}

	100% {
		clip: rect(93px, 920px, 53px, 0);
	}

}



