@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{border:none; margin:0; padding:0; box-sizing: border-box; font-family: 'Roboto', sans-serif; background: transparent;}
body{ color:#111}
#wrap{position: relative;}
#header{position: fixed; top:0; width:100%;}
#header #hd{position: relative; padding:0 10px; margin-top:50px}
#header h1{display:inline-block; padding-left:40px;}
#header h1 a{font-size: 20px; font-weight: bolder;}
#nav{position: absolute; top:0; right:2%;}
#nav .depth1 li{float:left; font-size: 16px; font-weight: bold; padding:0 30px;}

article{height:100vh;}
.home{position: relative;background: transparent; height:100vh;}
.home h1{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
.container{background:#f0f0f0;}

.lines{position: fixed; width:100%; height:100vh; top:0;}
.lines .row{margin:0 auto; width:1500px; height:100%;}
.lines .row .line-col{width:20%; height:100%; position: relative; float:left}
.lines .row .line-col::after{content:''; background:#f0f0f0; left:0; top:0; position: absolute; width:100%; animation: gotop 0.4s both 0s ease-in;}
.lines .row .line-col:before{content:''; background:#ccc; width:1px; height:100%; left:0; top:0; position: absolute;}
.lines .row .line-col:first-child::before{background: 0;}
.lines .row .line-col:nth-child(1)::after{animation-delay: 1s; width:1000%; right:0; left:auto;}
.lines .row .line-col:nth-child(2)::after{animation-delay: 0.4s; top:auto; bottom:0}
.lines .row .line-col:nth-child(4)::after{animation-delay: 0.8s; top:auto; bottom:0}
.lines .row .line-col:nth-child(5)::after{animation-delay: 1s; width:1000%; right:auto; left:0;}

#footer{position: fixed; bottom:0; width:100%;}

@keyframes gotop{
    0%{height:100%}
    100%{height:0%}
}
